$main-color: #fff;
$background-color: #94a0be;
$blinder: #26505680;
$button-border: #3088c0;
$canvas-background: #b5c5c5;
$selection: #78a0ff4f; // #b96d6d;

$fps-counter: #50ff50;

$button-gradient-1: #88abf5;
$button-gradient-2: #65a0e8;
$button-gradient-3: #6e92ff;

$scroll-track1: #f0f5ff;
$scroll-track2: #b5daff;
$scroll-track3: #c4d4ff;

$scroll-gradient-1: #7a99d9;
$scroll-gradient-2: #467aba;
$scroll-gradient-3: #1c3a94;

$scroll-gradient-1-hover: rgb(98, 125, 179);
$scroll-gradient-2-hover: rgb(55, 93, 138);
$scroll-gradient-3-hover: rgb(17, 35, 89);

$scroll-background: #f0f0f0;

$shadow-color: rgba(0, 0, 0, 0.25);
